/* You can add global styles to this file, and also import other style files */


* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 16px;
}

header {
    background-color: #00C2D1;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    color: white;
    font-weight: bold;
}

.container{
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
